{
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "indent": ["error", 4],
        "function-paren-newline": ["error", "consistent"],
        "no-unused-vars": ["warn"],
        "quotes": ["warn"]
    }
}